body {
  background-image: url("../img/theatre.jpg");
  background-size: cover;
  background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.jumbotron {
  margin-top: 30px;
  background-color: rgba(208, 212, 219, .8);
  text-align: center;
}
.well {
  background-color: rgba(208, 212, 219, .8);
  font-size: 15px;
}
.btn {
  margin-bottom: 30px;
  background-color: #d6c2c2;
}
